name: ci-cd-pipeline

on: 
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup Node.js
        uses: actions/setup-node@v6.1.0
        with:   
          node-version: 22.x

      - name: Install Dependencies
        run: npm install

      - name: build creating
        run: npm run build
