name: Vite Build

on:
  push:
    branches: [ main ]

jobs:
  build-vite:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install Dependencies
        run: |
          cd vite-project
          npm install

      - name: Build Vite Project
        run: |
          cd vite-project
          npm run build
